<div class = "row">
  <div class = "col-md-7">
    <div class = "board">
    <% @game.board.each do |card| %>
      <div class = "cards col-md-1" id = "<%= card['id'] %>">
      </div>
    <% end %>
    </div>
  </div>
  <div class = "col-md-5" style="line-height: 30px;">
  <h4><span class="glyphicon glyphicon-bookmark"></span> Tips to play the game</h4><hr>
  <p>
    <span class="glyphicon glyphicon-hand-right"></span> Click on a card to reveal it's content</br>
    <span class="glyphicon glyphicon-hand-right"></span> Two matching cards, stay flipped</br>
    <span class="glyphicon glyphicon-hand-right"></span> The game is over when you have matched all pairs </br>
    <span class="glyphicon glyphicon-hand-right"></span> Memorize the cards to find the pairs faster</br>
  </p>
  </div>
</div>
<div class = "info row">
  <div class = "col-md-6">
    <p>
      Use below link, if you want to continue with this game at a later time</br>
      <%= link_to "Continue Progress", { :controller => "games", :action => "show", :id => @game.id, :host => @hostname }, :class => "progressLink" %>
    </p>
  </div>
  <div class = "email-section col-md-6">
    <p> Send this game's link to my email address </p>
    <%= form_tag '/notify_user', :class => "form", :id => "notify-form" do %>
      <div class="form-group" style = "width: 50%">
        <%= email_field_tag 'email', nil, placeholder: 'Enter email address...', :class => 'form-control', required: true %>
      </div>
      <%= submit_tag "Email Me", :class => 'btn btn-sm btn-danger' %>
    <% end %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="game-completed" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-body-center">
          <p>
            <h4>Congrats!!! You won the game.</h4>
          </p>
          </br>
          <%= link_to "New Game", root_path, :class => "btn btn-sm btn-success" %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var game_id = "<%= @game.id %>"; 
  // Pass @game.board to javascript to display content when clicking on any div
  var board = '<%= @game.board.to_json.html_safe %>';
  // progress as array to store current flipped items
  var progress = [];
  // check if current progress is nil and elements if any are already filpped
  <% unless @game.flipped.nil? %>
    <% @game.flipped.each do |id| %>
      progress.push("<%= id %>");
    <% end %>
  <% end %>  
  board = JSON.parse(board);
</script>