<div class = "container">
  <div class = "board">
  </div>
  <div class = "info">
  <p>please use below if you are in the mood to continue your progress at a later time</p>
  <span class = "url">
    <a href = "http://<%= @hostname %>:<%= @port %>/<%= @game.id %>">http://<%= @hostname %>:<%= @port %>/<%= @game.id %></a>
  </span>
  <button title="email me above url">Email-me</button>
  <button title="bookmark the above url">Bookmark-it</button>
  </div>
</div>
