<!DOCTYPE html>
<html>
<head>
  <title>MemoryGame</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class = "main-wrapper">
  <header id="site-header" role="banner">
    <div class="container ">
      <div class="navbar-header">
          <span class = "site-logo"><strong>Memory Game</strong></span>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <span class = "welcome-user"><%= "Hello, #{current_user.first_name}" %></span>
          <span class = "logout"> <%= link_to "Logout", destroy_user_session_path, :method => :delete %></span>
        <% else %>
          <%= link_to "Login", new_user_session_path %>
        <% end %>
      </ul>
    </div>

    <% if current_user %>
      <nav role="navigation" class="navbar container">
        <div id="navbarCollapse" class="collapse navbar-collapse">
          <ul class="nav navbar-nav" id = "main-nav">
            <li class="active"><%= link_to "Home", home_path %></li>
            <li><%= link_to "Games", games_path %></li>
          </ul>
        </div>
      </nav>
    <% end %>
  </header>


  <% if current_user && current_user.admin %>
    <nav class="navbar navbar-default container">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="border-right: 1px solid #d7cdca;">Administrator</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav" id="admin-nav">
            <li><%= link_to "Cards", cards_path %></li>
            <li><%= link_to "Users", admin_users_path %></li>
          </ul>
        </div>
      </div>
    </nav>
  <% end %>


  <div class = "container" id = "wrapper">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </div>
  <div class="push"></div>
</div>
<div class="footer">
  <div class="container">
    Developed by Avinash Vallabhaneni
  </div>
</div>
</body>
</html>