<!DOCTYPE html>
<html>
<head>
  <title>MemoryGame</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class = "main-wrapper">
  <header class="navbar" id="site-header" role="banner">
    <div class="container">
      <div class="navbar-header">
        <%= link_to root_path do %>
          <span class = "site-logo"><strong>Memory Game</strong></span>
        <% end %>
      </div>
    </div>
  </header>
  <div class = "container" id = "wrapper">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </div>
  <div class="push"></div>
</div>
<div class="footer">
  <div class="container">
    Developed by Avinash Vallabhaneni
  </div>
</div>
</body>
</html>
